
/* 
body　に背景画像されるCSS　: 
　参考：https://www.sejuku.net/blog/52779
 */
body{
   
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 59, 59);
}

p{
    margin: 0;
}

.loginContainer {
    width: 400px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);

}

.logo{
    width: 150px;
    height: 150px;
}


.pwdForgot{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    width: 400px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}


