
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home_style.css">

    <title>Practice</title>
</head>
<body>
     <div class="header row">
     
      <div class="headerTitle">title</div>

      <div class="right row">
        <a  class="item" href="#item1">Item1</a>
        <a  class="item" href="#item2">Item2</a>
        <a  class="item" href="#item3">Item3</a>
        <a  class="item" href="#item4">Item4</a>
        <a  class="item" href="#item5">Item5</a>
      </div>
    </div>


    <div class="item1 box" id="item1">Item1 View</div>
    <div class="item2 box" id="item2">Item2 View</div>
    <div class="item3 box" id="item3">Item3 View</div>
    <div class="item4 box" id="item4">Item4 View</div>
    <div class="item5 box" id="item5">Item5 View</div>

    <script src="/js/script.js" defer></script>
</body>
</html>